# # Definitions of tags to detect
#
# ## General remarks
#
# - All length in meters
# - 'size' refers to the length of the shared border between solid black and solid white rectangle.
#   See README.md or https://github.com/AprilRobotics/apriltag/wiki/AprilTag-User-Guide#pose-estimation for details.
# - Ellipsis (...) signifies that the previous element can be repeated multiple times.

standalone_tags:
  [
    {id: 0, size: 0.05},
    {id: 1, size: 0.05},
    {id: 2, size: 0.05},
    {id: 3, size: 0.05},
    {id: 4, size: 0.05},
    {id: 5, size: 0.05},
    {id: 6, size: 0.05},
    {id: 7, size: 0.05},
    {id: 8, size: 0.05},
    {id: 9, size: 0.05}

  ]
# ## Tag bundle definitions
# ### Remarks
#
# - name is optional
# - x, y, z have default values of 0 thus they are optional
# - qw has default value of 1 and qx, qy, qz have default values of 0 thus they are optional
#
# ### Syntax
#
# tag_bundles:
#   [
#     {
#       name: 'CUSTOM_BUNDLE_NAME',
#       layout:
#         [
#           {id: ID, size: SIZE, x: X_POS, y: Y_POS, z: Z_POS, qw: QUAT_W_VAL, qx: QUAT_X_VAL, qy: QUAT_Y_VAL, qz: QUAT_Z_VAL},
#           ...
#         ]
#     },
#     ...
#   ]
# tag_bundles:
#   [
#     {
#       name: 'cube_1',
#       layout:
#         [
#           # 顶面标签，面向上
#           {id: 0, size: 0.05, x: 0.0,    y: 0.0,    z: 0.025, qw: 1.0, qx: 0.0,  qy: 0.0,  qz: 0.0},
#           # 底面标签，面向下
#           {id: 0, size: 0.05, x: 0.0,    y: 0.0,    z: -0.025, qw: 0.0, qx: 1.0,  qy: 0.0,  qz: 0.0},
#           # 前面标签，面向前
#           {id: 0, size: 0.05, x: 0.0,    y: 0.025,  z: 0.0,   qw: 0.707, qx: 0.707, qy: 0.0,  qz: 0.0},
#           # 后面标签，面向后
#           {id: 0, size: 0.05, x: 0.0,    y: -0.025, z: 0.0,   qw: 0.707, qx: -0.707, qy: 0.0,  qz: 0.0},
#           # 左面标签，面向左
#           {id: 0, size: 0.05, x: -0.025, y: 0.0,    z: 0.0,   qw: 0.707, qx: 0.0,  qy: 0.707, qz: 0.0},
#           # 右面标签，面向右
#           {id: 0, size: 0.05, x: 0.025,  y: 0.0,    z: 0.0,   qw: 0.707, qx: 0.0,  qy: -0.707, qz: 0.0}
#         ]
#     },

#     {
#       name: 'cube_2',
#       layout:
#         [
#           # 顶面标签，面向上
#           {id: 1, size: 0.05, x: 0.0,    y: 0.0,    z: 0.025, qw: 1.0, qx: 0.0,  qy: 0.0,  qz: 0.0},
#           # 底面标签，面向下
#           {id: 1, size: 0.05, x: 0.0,    y: 0.0,    z: -0.025, qw: 0.0, qx: 1.0,  qy: 0.0,  qz: 0.0},
#           # 前面标签，面向前
#           {id: 1, size: 0.05, x: 0.0,    y: 0.025,  z: 0.0,   qw: 0.707, qx: 0.707, qy: 0.0,  qz: 0.0},
#           # 后面标签，面向后
#           {id: 1, size: 0.05, x: 0.0,    y: -0.025, z: 0.0,   qw: 0.707, qx: -0.707, qy: 0.0,  qz: 0.0},
#           # 左面标签，面向左
#           {id: 1, size: 0.05, x: -0.025, y: 0.0,    z: 0.0,   qw: 0.707, qx: 0.0,  qy: 0.707, qz: 0.0},
#           # 右面标签，面向右
#           {id: 1, size: 0.05, x: 0.025,  y: 0.0,    z: 0.0,   qw: 0.707, qx: 0.0,  qy: -0.707, qz: 0.0}
#         ]
#     },

#     {
#       name: 'cube_3',
#       layout:
#         [
#           # 顶面标签，面向上
#           {id: 2, size: 0.05, x: 0.0,    y: 0.0,    z: 0.025, qw: 1.0, qx: 0.0,  qy: 0.0,  qz: 0.0},
#           # 底面标签，面向下
#           {id: 2, size: 0.05, x: 0.0,    y: 0.0,    z: -0.025, qw: 0.0, qx: 1.0,  qy: 0.0,  qz: 0.0},
#           # 前面标签，面向前
#           {id: 2, size: 0.05, x: 0.0,    y: 0.025,  z: 0.0,   qw: 0.707, qx: 0.707, qy: 0.0,  qz: 0.0},
#           # 后面标签，面向后
#           {id: 2, size: 0.05, x: 0.0,    y: -0.025, z: 0.0,   qw: 0.707, qx: -0.707, qy: 0.0,  qz: 0.0},
#           # 左面标签，面向左
#           {id: 2, size: 0.05, x: -0.025, y: 0.0,    z: 0.0,   qw: 0.707, qx: 0.0,  qy: 0.707, qz: 0.0},
#           # 右面标签，面向右
#           {id: 2, size: 0.05, x: 0.025,  y: 0.0,    z: 0.0,   qw: 0.707, qx: 0.0,  qy: -0.707, qz: 0.0}
#         ]
#     },

#     {
#       name: 'cube_4',
#       layout:
#         [
#           # 顶面标签，面向上
#           {id: 3, size: 0.05, x: 0.0,    y: 0.0,    z: 0.025, qw: 1.0, qx: 0.0,  qy: 0.0,  qz: 0.0},
#           # 底面标签，面向下
#           {id: 3, size: 0.05, x: 0.0,    y: 0.0,    z: -0.025, qw: 0.0, qx: 1.0,  qy: 0.0,  qz: 0.0},
#           # 前面标签，面向前
#           {id: 3, size: 0.05, x: 0.0,    y: 0.025,  z: 0.0,   qw: 0.707, qx: 0.707, qy: 0.0,  qz: 0.0},
#           # 后面标签，面向后
#           {id: 3, size: 0.05, x: 0.0,    y: -0.025, z: 0.0,   qw: 0.707, qx: -0.707, qy: 0.0,  qz: 0.0},
#           # 左面标签，面向左
#           {id: 3, size: 0.05, x: -0.025, y: 0.0,    z: 0.0,   qw: 0.707, qx: 0.0,  qy: 0.707, qz: 0.0},
#           # 右面标签，面向右
#           {id: 3, size: 0.05, x: 0.025,  y: 0.0,    z: 0.0,   qw: 0.707, qx: 0.0,  qy: -0.707, qz: 0.0}
#         ]
#     },

#     {
#       name: 'cube_5',
#       layout:
#         [
#           # 顶面标签，面向上
#           {id: 4, size: 0.05, x: 0.0,    y: 0.0,    z: 0.025, qw: 1.0, qx: 0.0,  qy: 0.0,  qz: 0.0},
#           # 底面标签，面向下
#           {id: 4, size: 0.05, x: 0.0,    y: 0.0,    z: -0.025, qw: 0.0, qx: 1.0,  qy: 0.0,  qz: 0.0},
#           # 前面标签，面向前
#           {id: 4, size: 0.05, x: 0.0,    y: 0.025,  z: 0.0,   qw: 0.707, qx: 0.707, qy: 0.0,  qz: 0.0},
#           # 后面标签，面向后
#           {id: 4, size: 0.05, x: 0.0,    y: -0.025, z: 0.0,   qw: 0.707, qx: -0.707, qy: 0.0,  qz: 0.0},
#           # 左面标签，面向左
#           {id: 4, size: 0.05, x: -0.025, y: 0.0,    z: 0.0,   qw: 0.707, qx: 0.0,  qy: 0.707, qz: 0.0},
#           # 右面标签，面向右
#           {id: 4, size: 0.05, x: 0.025,  y: 0.0,    z: 0.0,   qw: 0.707, qx: 0.0,  qy: -0.707, qz: 0.0}
#         ]
#     },

#     {
#       name: 'cube_6',
#       layout:
#         [
#           # 顶面标签，面向上
#           {id: 5, size: 0.05, x: 0.0,    y: 0.0,    z: 0.025, qw: 1.0, qx: 0.0,  qy: 0.0,  qz: 0.0},
#           # 底面标签，面向下
#           {id: 5, size: 0.05, x: 0.0,    y: 0.0,    z: -0.025, qw: 0.0, qx: 1.0,  qy: 0.0,  qz: 0.0},
#           # 前面标签，面向前
#           {id: 5, size: 0.05, x: 0.0,    y: 0.025,  z: 0.0,   qw: 0.707, qx: 0.707, qy: 0.0,  qz: 0.0},
#           # 后面标签，面向后
#           {id: 5, size: 0.05, x: 0.0,    y: -0.025, z: 0.0,   qw: 0.707, qx: -0.707, qy: 0.0,  qz: 0.0},
#           # 左面标签，面向左
#           {id: 5, size: 0.05, x: -0.025, y: 0.0,    z: 0.0,   qw: 0.707, qx: 0.0,  qy: 0.707, qz: 0.0},
#           # 右面标签，面向右
#           {id: 5, size: 0.05, x: 0.025,  y: 0.0,    z: 0.0,   qw: 0.707, qx: 0.0,  qy: -0.707, qz: 0.0}
#         ]
#     }
#   ]


